#jinja2: trim_blocks: True, lstrip_blocks: True
network:
  version: 2
  ethernets:
    {% set ns = namespace(has_default_gateway=false) %}
    {% for interface in interface_interfaces %}
    {% if interface.interface_default_gateway is defined and interface.interface_default_gateway %}
    {% set ns.has_default_gateway = true %}
    {% endif %}
    {% endfor %}
    {% for interface in interface_interfaces | sort(attribute="interface_device") %}
    {{ interface.interface_device }}:
      dhcp4: true
      dhcp4-overrides:
        route-metric: 100
        use-dns: false
        use-routes: false
      mtu: {{ interface_mtu }}
      {% if interface.interface_default_gateway is defined and interface.interface_default_gateway %}
      routes:
        - to: 0.0.0.0/0
          via: {{ interface.interface_default_gateway }}
      nameservers:
        addresses:
          {% if ansible_dns.nameservers[0] == "127.0.0.53" and resolved_upstream_dns is defined and resolved_upstream_dns %}
          - {{ resolved_upstream_dns[0] }}
          {% elif ansible_dns.nameservers[0] == "127.0.0.53" %}
          - 1.1.1.1
          {% else %}
          - {{ ansible_dns.nameservers[0] }}
          {% endif %}
      {% endif %}
      {% if interface.interface_routes is defined and interface.interface_routes %}
      routes:
        {% for route in interface.interface_routes %}
        - to: {{ (route['network'] ~ '/' ~ route['mask']) | ipaddr('net') }}
          via: {{ route['gateway'] }}
        {% endfor %}
      {% endif %}
      {% if not ns.has_default_gateway and loop.index0 == 0 %}
      routes:
        - to: 0.0.0.0/0
          via: {{ ansible_default_ipv4.gateway }}
      nameservers:
        addresses:
          {% if ansible_dns.nameservers[0] == "127.0.0.53" and resolved_upstream_dns is defined and resolved_upstream_dns %}
          - {{ resolved_upstream_dns[0] }}
          {% elif ansible_dns.nameservers[0] == "127.0.0.53" %}
          - 1.1.1.1
          {% else %}
          - {{ ansible_dns.nameservers[0] }}
          {% endif %}
      {% endif %}
    {% endfor %}
